=======================================================================
  {{ ansible_facts['nodename'] | default(inventory_hostname) }}
  managed by Ansible - local changes WILL be overwritten
-----------------------------------------------------------------------
  role        : common
  environment : {{ env_name | default('undefined') }}
  region      : {{ aws_region | default('undefined') }}
  os          : {{ ansible_facts['distribution'] | default('?') }} {{ ansible_facts['distribution_version'] | default('') }}
  groups      : {{ group_names | join(', ') }}
=======================================================================
